<h1>Welcome to the Guitar Store</h1>
<p>Buy something or gtfo!</p>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-4">
      <div class="card">
        <% if product.image.url.nil? %>
          <%= image_tag 'no-image.jpg', class: "img-responsive product-image" %>
        <% else %>
          <%= image_tag product.image.url, class: "img-responsive product-image" %>
        <% end %>
        <h3><%= link_to product.name, product %></h3>
        <p><%= number_to_currency product.price %></p>
        <p>
          <a href="#" data-toggle="modal" data-target="#myModal_<%= product.id %>">
            <i class="fa fa-plus"></i> Quick Info
          </a>
        </p>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal_<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title text-left" id="myModalLabel">
              <h3><%= link_to product.name, product %></h3>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body">
            <% if product.image.url.nil? %>
              <%= image_tag 'no-image.jpg', class: "img-responsive product-image" %>
            <% else %>
              <%= image_tag product.image.url, class: "img-responsive product-image" %>
            <% end %>
            <p><%= number_to_currency product.price %></p>
            <p><%= product.description %></p>
            <p>made by <%= product.brand %></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <%#= render 'devise/sessions/new' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
